<form ng-submit="">


<input type="text" ng-model="mad.noun1" placeholder="noun1">
<input type='text' ng-model="mad.verb1" placeholder="verb1">
<input type='text' ng-model="mad.adj1" placeholder="adj1">
<input type='text' ng-model="mad.noun2" placeholder="noun2">
<input type='text' ng-model="mad.verb2" placeholder="verb2">
<input type='text'ng-model="mad.adj2" placeholder="adj2">
<input type='text' ng-model="mad.noun3" placeholder="noun3">

<a href="#!/output"><button ng-click='addInput(mad)' type="button" ng-click="">CREATE</button></a>
</form>
