<form ng-submit="">


<input type="text" ng-model="mad.noun1" placeholder="noun">
<input type='text' ng-model="mad.verb1" placeholder="verb">
<input type='text' ng-model="mad.adjective1" placeholder="adjective">
<input type='text' ng-model="mad.noun2" placeholder="noun">
<input type='text' ng-model="mad.ingverb" placeholder="ing verb">
<input type='text' ng-model="mad.noun3" placeholder="noun">
<input type='text' ng-model="mad.adjective2" placeholder="adjective">
<input type='text' ng-model="mad.noun4" placeholder="noun">
<input type='text' ng-model="mad.noun5" placeholder="noun">
<input type='text' ng-model="mad.emotion" placeholder="emotion">
<input type='text' ng-model="mad.action" placeholder="action">
<input type='text' ng-model="mad.noun6" placeholder="noun">
<input type='text' ng-model="mad.noun7" placeholder="noun">
<input type='text' ng-model="mad.friend1" placeholder="friend">
<input type='text' ng-model="mad.friend2" placeholder="friend">
<input type='text' ng-model="mad.noun8" placeholder="noun8">

<a href="#!/display"><button ng-click='addInput(mad)' type="button" ng-click="">CREATE</button></a>
</form>
